
@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

@Html.Action("BreadCrumb", "Module")

<!-- shop banner -->
<section class="mt-80 mb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3 class="font-monospace">Cảm ơn bạn đã <br> tin tưởng!<span class="orange-text">VietnamWatches</span></h3>
                <div class="sale-percent"><span>Hãy đồng hành cùng chúng tôi<br>để có thể nhận được ưu đãi!</span> 50% <span>cho các lần tới</span></div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <div>
                    <img src="../Public/images/banner1.png" style="width:200%;height:200%" />
                </div>
            </div>
            <div class="row mt-3">
                @Html.Partial("Message")
                <div>
                    <h4 class="text-uppercase font-monospace" style="color:#cd1818">Đơn hàng vừa mới đặt</h4>
                    @foreach (var ct in ViewBag.order)
                    {
                        <div class="row">
                            <div class="col-md-6"><b class="h5 font-monospace"> Mã đơn hàng: @ct.Code</b></div>
                            <div class="col-md-6 nav justify-content-end">
                                <p><a href="@Url.Action("HuyDon","KhachHang", new { id = ct.Id })" class="btn btn-outline-danger" style="text-decoration: none">Hủy đơn hàng</a></p>
                            </div>
                        </div>
                        if (ct.Status == 1 || ct.Status == 2)
                        {
                            <div class="nav justify-content-end" style="width:5%">
                                <i class="fas fa-shipping-fast"></i>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 0%"></div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <span>Đang xác nhận</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="nav justify-content-center">Đang vận chuyển</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="nav justify-content-end">Thành công</span>
                                    </div>
                                </div>
                            </div>
                        }
                        if (ct.Status == 3)
                        {
                            <div class="nav justify-content-end" style="width:50%">
                                <i class="fas fa-shipping-fast"></i>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 50%"></div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <span>Đang xác nhận</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="nav justify-content-center">Đang vận chuyển</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="nav justify-content-end">Thành công</span>
                                    </div>
                                </div>
                            </div>
                        }
                        if (ct.Status == 4)
                        {
                            <div class="nav justify-content-end" style="width:100%">
                                <i class="fas fa-shipping-fast"></i>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%"></div>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <span>Đang xác nhận</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="nav justify-content-center">Đang vận chuyển</span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="nav justify-content-end">Thành công</span>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-lg-8 col-md-12">
                                <div class="cart-table-wrap">

                                    <table class="cart-table" id="myTable">
                                        <thead class="cart-table-head">
                                            <tr class="table-head-row">
                                                <th class="product-image">Hình ảnh</th>
                                                <th class="product-name">Tên sản phẩm</th>
                                                <th class="product-price">Giá bán</th>
                                                <th class="product-quantity">Số lượng</th>
                                                <th class="product-total">Thành tiền (VNĐ)</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @{
                                                var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                                            }
                                            @{ decimal tongtien = 0;}
                                            @foreach (var cat in ViewBag.detail)
                                            {
                                                <tr class="table-body-row">
                                                    <td class="product-image"><img src="~/Public/images/products/@Html.Action("NameImgOrder", "KhachHang", new { productId = cat.ProductId })" class="img-fluid" alt="ImgName" /></td>
                                                    <td class="product-name"> @Html.Action("NameProductOrder", "KhachHang", new { productId = cat.ProductId })</td>
                                                    <td class="product-price" style="text-align:right;">@String.Format(info, "{0:c00}", @cat.Price)</td>
                                                    <td class="product-quantity" style="text-align:right;">@cat.Quantity</td>
                                                    <td class="product-total" style="text-align:right;">@String.Format(info, "{0:c00}", @cat.Amount)</td>
                                                </tr>
                                                tongtien += cat.Amount;
                                            }
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                            <div class="col-lg-4">
                                <div class="total-section">
                                    <table class="total-table">
                                        <thead class="total-table-head">
                                            <tr class="table-total-row">
                                                <th style="width:55%;"></th>
                                                <th>Giá (VNĐ)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="total-data">
                                                <td><strong>Tổng cộng: </strong></td>
                                                <td style="text-align:right;">@String.Format(info, "{0:c00}", tongtien)</td>
                                            </tr>
                                            <tr class="total-data">
                                                <td><strong>Phí giao hàng toàn quốc: </strong></td>
                                                @if (tongtien >= 500000)
                                                {
                                                    <td>Bạn được miễn phí giao hàng với đơn hàng lớn hơn 500.000₫</td>
                                                }
                                                else
                                                {
                                                    <td style="text-align:right;">@String.Format(info, "{0:c00}", 30000)</td>

                                                    tongtien += 30000;
                                                }

                                            </tr>
                                            <tr class="total-data">
                                                <td><strong>Thành tiền: </strong></td>
                                                <td style="text-align:right;">@String.Format(info, "{0:c00}", tongtien)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <hr />
                    }

                </div>
            </div>

        </div>

    </div>
</section>
<!-- end shop banner -->
