@model MyClass.Models.Post

@{
    ViewBag.Title = "Chỉnh sửa Post";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section header{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
}

@using (Html.BeginForm("Edit", "Post", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.CreatedAt)
    @Html.HiddenFor(model => model.CreatedBy)

    <div class="form-horizontal my-2 mx-3">
        <h4>Chỉnh sửa -Post</h4>
        <div class="row">
            <div class="col col-md-10">
                <a href="@Url.Action("Index", "Post")" class="btn btn-sm btn-danger my-2"><i class="fas fa-arrow-circle-left"></i>  Về danh sách</a>
            </div>
            <div class="col col-md-2 text-right">
                <button type="submit" value="Create" class="btn btn-success"><i class="fas fa-save"></i>   Xác nhận [Lưu]</button>
            </div>
        </div>

        <hr />
        <div class="row g-4">
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <div class="form-floating mb-3">
                        <div class="form-group">
                            <label for="floatingInput">
                                <label>Tên Post<span class="text-danger">*</span></label>
                            </label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <div class="form-group">
                            <label for="floatingInput">
                                <label>Từ khoá <span class="text-danger">*</span></label>
                            </label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.MetaKey, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MetaKey, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <div class="form-group">
                            <label for="floatingInput">
                                <label>Mô tả <span class="text-danger">*</span></label>
                            </label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.MetaDesc, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MetaDesc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <div class="form-group">
                            <label for="floatingInput">
                                <label>Chi tiết <span class="text-danger">*</span></label>
                            </label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.Detail, new { @id = "FullDescription", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                                <script>
                                    CKEDITOR.replace("FullDescription");
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-6">
                <div class="bg-light rounded h-100 p-4">
                    <div class="mb-3">
                        <label>Chọn Topic</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.TopId, (SelectList)ViewBag.ListPost, "Chọn vị trí ", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TopId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Chọn hình ảnh</label>
                        <input class="form-control" type="file" id="formFile" name="Img">
                    </div>
                    <div class="mb-3">
                        <label>Trạng thái</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Text = "Xuất bản", Value = "1" }, new SelectListItem { Text = "Không xuất bản", Value = "2" } }, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}